<!DOCTYPE html>
{% load staticfiles %}
{% load flatpages %}
{% load i18n %}
{% load votainteligente_extras %}
<html prefix="og: http://ogp.me/ns/{{ 'type'|ogpdata }}#">
    <head>
        <meta charset="utf-8">
        <title>{% trans "Vota Inteligente" %} {% block title %}- {{ 'home_title'|website_gs }}{% endblock title %}</title>
        <meta name="author" content="{{ 'author'|metadata }}">
        <meta name="description" content="{% block description %}{{ 'description'|metadata }}{% endblock description %}">
        <meta name="keywords" content="{{ 'keywords'|metadata }}{% block keywords %}{% endblock keywords %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="google-site-verification" content="{{ 'gsite-verification'|ga }}">

        <!--for facebook fans-->
        <meta property="og:title" content="{{ 'title'|ogpdata }}">
        <meta property="og:type" content="{{ 'type'|ogpdata }}">
        <meta property="og:url" content="{{ 'url'|ogpdata }}">
        <meta property="og:image" content="{% static 'image'|ogpdata %}">
        <!--eoff-->

        <link rel="shortcut icon" sizes="196x196" href="{% static 'img/votai-196.png' %}">
        <!-- Browser out of date -->
        <script type="text/javascript"> 
        var $buoop = {} 
        $buoop.ol = window.onload; 
        window.onload=function(){ 
         try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
         var e = document.createElement("script"); 
         e.setAttribute("type", "text/javascript"); 
         e.setAttribute("src", "http://browser-update.org/update.js"); 
         document.body.appendChild(e); 
        } 
        </script> 
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/yqs.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
        <link type="text/plain" rel="author" href="{% static 'humans.txt' %}" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    </head>
    <body data-ng-app="votainteligente">

    <div id="sideLeft">
	<div class="descubriendo">
		<h4>Descubriendo<br/> con qu&#233; candidato coincid&#237;s m&#225;s...</h4>
	<select name="elecci&#243;n" id="eleccion1"></select>
	<br/>
	<br/>
	<button type="button" class="bEmpez">
		<span style="font-size:1.5em;vertical-align:middle;">Empezar</span>
	</button>        
	</div>
	<div class="menu">
		<hr>
		<a><b>Comenzar de nuevo</b></a><br/>
		<hr>
		<a><b>Compartir con amigos</b></a><br/>
		<hr>
		<a><b>Acerca de YQS</b></a><br/>
		<hr>
		<a><b>Plataforma de investigacion</b></a>
		<hr>
		</div>
</div>
<div id=inicio>
	<div class="row">
		<img src="img/YQSlogo.jpg" class='imgInicio' >
	</div>
	<div class="row"></br></div>
	<div class="row">
		<div class="col-xs-1 col-md-4" id="iniColS">
		</div>
		<div class="col-xs-10 col-md-4" id="iniColC">

			<h4 class="invita">&#191;Con  cu&#225;l candidato tengo</br>m&#225;s afinidad?<br/><br/>
				<select name="elecci&#243;n" id="eleccion1"></select>
				</h4><br/>
		</div>
		<div class="col-xs-1 col-md-4" id="iniColS">
		</div>
	</div>
	<div class="row"></div>
	<div class="row">
		<button type="button" class="bJugar">
		<span style="font-size:1.5em;vertical-align:middle;">Empezar</span>
		<span style="font-size:3em; vertical-align:middle;"><b>&#20;&#20;>></b></span>
	</button>        
	</div>
</div>
<div id="inicioD">
	<div class="descubIni">
		
			<div class="col-xs-3 col-md-3" id="inviDC3"></div>
			<div class="col-xs-3 col-md-3" id="inviDC1">Informate sobre los pre-candidatos<br/> nacionales y de tu provincia</div>		
		<div class="col-xs-3 col-md-3" id="inviDC2"><select name="elecci&#243;n" id="eleccion"></select></div>
			<div class="col-xs-3 col-md-3" id="inviDC3"></div>
			<br/>
			<br/>
			<h4>Descubr&#237; con qu&#233; pre-candidato a<br/><b style="color:#dd3975;">presidente</b> coincid&#237;s m&#225;s...</h4>

	<button type="button" class="bEmpez">
		<span style="font-size:1.5em;vertical-align:middle;">Jugar</span>
	</button>        
	</div>
</div>
<div id=game>
	<button type="button" class="bMenuH"></button>
	<div class="resultados">
		<h3 class="pregResu"></h3>
		<div class="postuCont">
		<div class="posturas"></div>
		<div class="posturasBG"></div>
		</div>
		<button type="button" class="sigue">
		<span style="font-size:1.5em;vertical-align:middle;">Siguiente</span>
		<span style="font-size:3em; vertical-align:middle;"><b>&#20;&#20;>></b></span>
		</button>
	</div>
	<div class="preguntas">
	<div class="row" id="encabezado">
		<div class="recorrido">
			<ul>
				<div class="dots" id="p0"></div>
				<div class="dots" id="p1"></div>
				<div class="dots" id="p2"></div>
				<div class="dots" id="p3"></div>
				<div class="dots" id="p4"></div>
				<div class="dots" id="p5"></div>
				<div class="dots" id="p6"></div>
				<div class="dots" id="p7"></div>
			</ul>
		</div>

		<div class="pregunta">
			<!--	<div class="page-header"> -->
				<h3 class="tPreg">&#191;El aborto deber&#237;a ser legal y para todos?</h3>
				<!--	</div> -->
		</div>
	</div>
		
			<div class="col-xs-6 col-md-6" id="tarjeta1" style="text-align:right"><button type="button" class='voto' id="vSi" alt="Si" >SI</button></div>
			<div class="col-xs-6 col-md-6" id="tarjeta2" style="text-align:left"><button type="button" class='voto' id="vNo" alt="No" >NO</button></div>

			<div class="opciones"><img class="popupBg" src="img/popup.png">
				<button class="closeBtn"></button>
				<button class="bOp1"><div class="op1" id="opc"></div></button>
				<button class="bOp2"><div class="op2" id="opc"></div></button>
				<button class="bOp3"><div class="op3" id="opc"></div></button>
				<button class="bOp4"><div class="op4" id="opc"></div></button>		
			</div>	

		<div class="sobreFondo" style="text-align:center;z-index:1">
			<img src="img/sobre_fondo.png">
		</div>
		<div class="sobreFrente" style="text-align:center;z-index:3">
			<img src="img/sobre_frente.png">
		</div>
		<div class="sobreChicos" style="text-align:center;z-index:2">
			<img src="img/sobresChicos.png">
		</div>

		<button type="button" class="bMasO">
		<span style="font-size:2em; vertical-align:middle;"><b>+  </b></span>
		<span style="font-size:1.5em;vertical-align:middle;">OPCIONES</span>
		</button>

		<button type="button" class="bSaltear">
		<span style="font-size:1.5em;vertical-align:middle;">SALTEAR</span>
		<span style="font-size:2em; vertical-align:middle;"><b>>></b></span>
		
		</button>
		
		<div class="urna1" style="text-align:center;z-index:1">
			<img src="img/ranura1.png">
		</div>
		<div class="urna2" style="text-align:center;z-index:2">
			<img src="img/ranura2.png">
		</div>
	
		<div class="afiT">Afinidad</div>
		<div class="afinidad">
			<div class="afiniImg"></div>
		</div>
	</div>
</div>

        <div id="wrapper">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="{% static 'img/logo-votainteligente.png' %}" class="img-responsive" title="Vota Inteligente" alt="Vota Inteligente"></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        {% get_flatpages as flatpages %}
                        <ul class="nav navbar-nav">
                            {% for page in flatpages %}
                                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>

            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        
       <footer class="footer">
	<div class="calendario"><h3 class="faltan">Calendario electoral: faltan 62 d&#237;as para las PASO</h3>
				<p>colabor&#225; con nuestra investigaci&#243;n</p>
				</div>

				<div class="about">
					<br/>
					<h4>Coordinan</h4>
					<p>Acci&#243;n Social Di Tella, Congreso Interactivo, Open Knowledge Argentina, Data Conception</p>
					<h4>Apoyan</h4>
					<p>Hacklabs, MySociety</p>
					<h4>Directorio Legislativo</h4>
					<p>WeMe, Fundaci&#243;n Conciencia</p>
					<h4>Desarrollado por Ciudadano Inteligente</h4>

					<p><a>Revisa nuestro c&#243;digo en GitHub</a></p>
					<p><a>&#191;Quieres tener un sitio como este para tus elecciones?</a></p>

				</div>
</footer> 
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
        <script src="{% static 'js/removeDiacritics.js' %}"></script>
        <script src="{% static 'js/jquery.expander.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript">
        var app = angular.module('votainteligente', []);
        </script>
        <script type="text/javascript">
        {% block extrajs %}
        {% endblock extrajs %}
        </script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js" type="text/javascript"></script>
        <script>
         $(document).ready(function(){
            $(".chosen-select").chosen();
            $('.email-prensa').attr('href','mailto:'+'prensa'+'@'+'ciudadanointeligente.org?'+'Subject=Prensa%20votainteligente');
         })
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js" type="text/javascript"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ 'code'|ga }}', '{{ 'name'|ga }}');
          ga('send', 'pageview');
        </script>
        
    </body>
</html>
