<!DOCTYPE html>
{% load staticfiles %}
{% load flatpages %}
{% load i18n %}
{% load votainteligente_extras %}
<html prefix="og: http://ogp.me/ns/{{ 'type'|ogpdata }}#">
    <head>
        <meta charset="utf-8">
        <title>Yo Quiero Saber - Elecciones 2015 - Muy Pronto</title>
        <meta name="author" content="{{ 'author'|metadata }}">
        <meta name="description" content="{% block description %}{{ 'description'|metadata }}{% endblock description %}">
        <meta name="keywords" content="{{ 'keywords'|metadata }}{% block keywords %}{% endblock keywords %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="google-site-verification" content="{{ 'gsite-verification'|ga }}">

        <!--for facebook fans-->
        <meta property="og:title" content="{{ 'title'|ogpdata }}">
        <meta property="og:type" content="{{ 'type'|ogpdata }}">
        <meta property="og:url" content="{{ 'url'|ogpdata }}">
        <meta property="og:image" content="{% static 'image'|ogpdata %}">
        <!--eoff-->

        <link rel="shortcut icon" sizes="196x196" href="{% static 'img/YQSlogo.jpg' %}">
        <!-- Browser out of date -->
        <script type="text/javascript">
        var $buoop = {}
        $buoop.ol = window.onload;
        window.onload=function(){
         try {if ($buoop.ol) $buoop.ol();}catch (e) {}
         var e = document.createElement("script");
         e.setAttribute("type", "text/javascript");
         e.setAttribute("src", "http://browser-update.org/update.js");
         document.body.appendChild(e);
        }
        </script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/yqs.css' %}">
</head>
<body>
<header>
	<div class="hLogo"><span></span><img src="/static/img/YQSlogo.jpg" class='imgHeader'></div>
</header>
<style>
header { position: static; }
html { padding-top: 0; }
.container { text-align: left; }

</style>
        <div id="wrapper">
            <div class="container">
{% block content %}

	<h2>{{ flatpage.title }}</h2>
	{{ flatpage.content }}

{% endblock content %}
