{% extends "elections/election_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load votainteligente_extras %}

{% block extrajs %}
{% endblock extrajs %}

{% block mainelection %}


<div id="inicioD">
        <div class="descubIni">

                        <div class="col-xs-3 col-md-3" id="inviDC3"></div>
                        <div class="col-xs-3 col-md-3" id="inviDC1">Informate sobre los pre-candidatos<br/> nacionales y de tu provincia</div>
                <div class="col-xs-3 col-md-3" id="inviDC2"><select name="elecci&#243;n" id="eleccion"></select></div>
                        <div class="col-xs-3 col-md-3" id="inviDC3"></div>
                        <br/>
                        <br/>
                        <h4>Descubr&#237; con qu&#233; pre-candidato a<br/><b style="color:#dd3975;">presidente</b> coincid&#237;s m&#225;s...</h4>

        <button type="button" class="bEmpez">
                <span style="font-size:1.5em;vertical-align:middle;">Jugar</span>
        </button>
        </div>
</div>
        <div class="row">
                <div class="nav-candidator">
                        <nav class="col-md-12">
                                <ul class="list-inline">
					{% if 'profiles'|val_navbars  %}
					<li {% block tab_profile %}{% endblock %}><a href="{% url 'election_view' slug=election.slug %}" accesskey="p" title="{% trans "Perfiles" %} (Alt+p)"><i class="icon-group"></i> {% trans "Perfiles" %}</a></li>
					{% endif %}
					{% if 'questionary'|val_navbars and election.uses_questionary  %}
					<li {% block tab_questionary %}{% endblock %}><a href="{% url 'questionary_detail_view' slug=election.slug %}" accesskey="c" title="{% trans "Cuestionario" %} (Alt+c)"><i class="icon-list"></i> {% trans "Cuestionario" %}</a></li>
					{% endif %}
					{% if 'soulmate'|val_navbars and election.uses_soul_mate  %}
					<li {% block tab_soulmate %}{% endblock %}><a href="{% url 'soul_mate_detail_view' slug=election.slug %}" accesskey="n" title="{% trans "1/2 Naranja" %} (Alt+n)"><i class="icon-heart"></i> {% trans "1/2 Naranja" %}</a></li>
					{% endif %}
					{% if 'facetoface'|val_navbars and election.uses_face_to_face  %}
					<li {% block tab_facetoface %}{% endblock %}><a href="{% block url_face_to_face %}{% url 'face_to_face_no_candidate_detail_view' slug=election.slug %}{% endblock url_face_to_face %}" accesskey="f" title="{% trans "Frente a Frente" %} (Alt+f)"><i class="icon-bolt"></i> {% trans "Frente a Frente" %}</a></li>
					{% endif %}
					
					{% if election.extra_info_title %}
					<li {% block tab_extrainfo %}{% endblock %}><a href="{% url 'election_extra_info' slug=election.slug %}"><i class="icon-info"></i> {{election.extra_info_title}} </a></li>
					{% endif %}
                                </ul>
                        </nav>
                </div>
        </div>



<div class="row">
	<div class="container-candidates">
		{% for candidate in election.candidates.all %}
		<div class="col-md-2">
			
			{% if candidate.image %}
				{% thumbnail candidate.image "300x300" crop="center" format="PNG" as im %}
				<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.id %}"><img src="{{im.url}}" alt="{{candidate.name}}" border="0" class="img-responsive" style="background-color: {{ candidate.extra_info.color }}">{%if candidate.extra_info.custom_ribbon %}<div class="ribbon">{{ candidate.extra_info.custom_ribbon }}</div>{% endif %}</a>
				{% endthumbnail %}
			{% else %}
				<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.id %}"><img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive">{% if candidate.extra_info.custom_ribbon %}<div class="ribbon">{{ candidate.extra_info.custom_ribbon }}</div>{% endif %}</a>
			{% endif %}
			
			<p class="text-center">
				<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.id %}">{{candidate.name}}</a>
				{% if not candidate.has_answered %}{% no_ha_respondido_twitter_button %}{% endif %}
			</p>

		</div>
		{% if forloop.counter|divisibleby:6 %}
			</div>
		</div>
		<div class="row">
			<div class="container-candidates">
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock mainelection %}
