{% extends "base.html" %}
{% load i18n %}
{% load votainteligente_extras %}

{% block extrajs %}
{% endblock extrajs %}

{% block title %} - {{election}} - {% trans "Perfiles"%}{% endblock title%}

{% block keywords %}{% for tag in election.tags.all %}, {{tag}}{% endfor %}{% endblock keywords %}

{% block description %}{{election.description|truncatewords:100}}{% endblock description %}

{% block content %}
<section id="election">
	{% block mainelection %}
	{% endblock mainelection %}

</section>
{% endblock content %}
