{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block extrajs %}
{% include 'elections/home.js' %}
{% endblock extrajs %}

{% block extrascripts %}
<script src="{% static 'js/mainGame.js' %}"></script>
<script src="{% static 'js/jstween-1.2.min.js' %}"></script>
{% endblock %}


{% load votainteligente_extras %}

{% load yqs_extras %}

{% block juego %}
{% include 'elections/juego.html' %}
{% endblock %}


{% block content%}
<!--
<div style="margin-top: 600px" id="homecontent" >
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="text-center intro-home">
       Yo quiero saber - El juego interactivo con todos los candidatos.
	</h2>
    </div>
  </div>
<div style="font-size: 1.5em; text-align: center">
<div class="row"><a href="http://www.yoquierosaber.org/election/pre-candidato-a-presidente">Ver todos los candidatos a presidente</a></div>
<div class="row"><a href="http://www.yoquierosaber.org/pages/gobernador">Ver candidatos a gobernador</a></div>
</div>
</div>
-->

{% endblock content %}

