{% extends "elections/election_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} - {{election}} - {% trans "1/2 Naranja"%}{% endblock title%}

{% block last_breadcrumb %}{% trans "Juego"%}{% endblock last_breadcrumb %}

{% block tab_soulmate %}class="active"{% endblock %}


{% block juego %}
{% include 'elections/juego.html' %}
{% endblock %}

{% block extrascripts %}
        <script src="{% static 'js/mainGame.js' %}"></script>
        <script src="{% static 'js/jstween-1.2.min.js' %}"></script>
{% endblock %}

{% block mainelection %}


{% endblock mainelection %}
