{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load votainteligente_extras %}

{% if taken_position.position %}
        {{taken_position.position.label}}
	<p class="position_description">
	 {{taken_position.description}}

	{% if taken_position.sources.all %}
        {% for source in taken_position.sources.all %}
            
            (<a href="{{source.url}}" target="_blank">{% if source.note %}{{source.note}}{% else %}Fuente{% endif %}</a>)
            
        {% endfor %}
	{% endif %}
	</p>
{% else %}
    Aún no tenemos esta respuesta
     {% include 'elections/twitter/answer_this_question.html' with taken_position=taken_position candidate=candidate %}
{% endif %}
