{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load votainteligente_extras %}

{% if taken_position.position %}
        {{taken_position.position.label}}
	<p>
	 {{taken_position.description}}
	</p>

	{% if taken_position.sources.all %}
        <ul>
        {% for source in taken_position.sources.all %}
            
            <li><a href="{{source.url}}" target="_blank">{% if source.note %}{{source.note}}{% else %}Fuente{% endif %}</a></li>
            
        {% endfor %}
        </ul>
	{% endif %}
{% else %}
    {% trans "Esta(e) candidata(o) aún no responde" %} 
    {#%  with twitter = "hola" %#}
    {#% no_ha_respondido_twitter_button %#}
{% endif %}
