/* TEST AUTODEPLOY 4 */

@font-face {
    font-family: yqsFont;
    src: url(../fonts/POLITICA.TTF);
}

@font-face {
   font-family: yqsFont;
   src: url(../fonts/POLITICA_BOLD.TTF);
   font-weight: bold;
}
header{
	position:absolute;
	width:100%;
	height:10%;	
	box-shadow: 5px 0px 6px #174c3e;	
}
.hLogo{
    height: 100%;      
    white-space: nowrap;    
    text-align: center;
}
header span{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
footer{
	//position:absolute;
	//top:90%;
	//width:100%;
	background-color:#175747;
		
}
footer p{
	font-size:0.5em;
	margin:0px;
	color:#20a685;
}
.calendario{
	font-size:2.5em;	
	color:#bcdad5;
	text-align:center;	
	
}

.faltan{
	font-family:yqsFont;
	margin-bottom: 0px;
}

.about{
	background-color:#0f4135;
	box-shadow: 50px 50px 20px black;
	padding-left:25%;
	text-align:left;
}
.about p{
	font-size:1.0em;
	margin:0px;
	color:#20a685;
}

.about h4{
	font-size:1.0em;	
	color:#bcdad5;
}


.imgHeader{
	vertical-align: middle;
	width:172px;
	height:37px;
} 
body{
	background-color:#155847;
	overflow:auto;
	text-align:center;
}
nav{
	background-color:#155847;
}
button:focus {
outline: none;
}

.navbar-inverse {
  background-color: #155847;
  border-color: #080808;
}
.container{
	background-color:#155847;
}

#inicio{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#155847;
	//z-index:1;
	text-align:center;
	padding-top:20%;
	padding-bottom:20%;
	overflow-x:hidden;
	overflow-y:auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#inicio h1{
	color:#FFF;
	font-family: yqsFont;
}
#inicio h4{
	//color:#befffc;
	color:#fff;
	font-family: yqsFont;
	font-size:1.5em;
}

#inicio #eleccion {
	direction: rtl;
	//color:#befffc;
	font-family: yqsFont;
	color:#fff;
	background-color:#155847;	
	border: none;
	margin-left:1%;
	margin-right:1%;
	/*border: 1px solid #AAA;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);*/
/*	text-align:center;
	font-size: inherit;
	padding-top: 5px;
	padding-bottom: 5px;/
	/*margin: 0;
	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;*/
}
.bJugar{
	top:66%;
	background-color:#1e9577;	
	background-size: 100%;
	//color:#40d9b3;
	color:#fff;
	border: none;
	//background: url(../img/botonInicio.jpg) no-repeat;
	//width:226px;
	//height:74px;
	width:210px;
	height:60px;
	border-radius: 1.8em;
	box-shadow: 5px 5px 3px #174c3e;
	font-family: yqsFont;
}
.imgInicio{
	width:345px;
	height:75px;
}
#game{
	position:absolute;
	left:0;
	top:0;
	padding-top:5px;
	width:100%;
	height:100%;
	background-color:#155847;	
	//z-index:0;
	overflow:hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header {
	background-color: #155847;
	color: #000;
	text-align: center;
}

.resultados{
	background-color:#155847;
	width:100%;
	height:100%;
	text-align:center;
}
.pregResu{
	padding-top:3%;
	padding-left:15%;
	padding-right:15%;
	margin-top:0;
	margin-bottom:0;
	height:18%;
	overflow:hidden;
	font-size:2.5em;
	font-family:yqsFont;
	color:#bcdad5;
}
.postuCont{
	position:absolute;
	text-align:center;
	background-color:rgba(255, 255, 255, 0.0);
	display:block;	
	overflow-y:scroll;
	//overflow:scroll;
	height:60%;
	top:21%;
	z-index:11
}
.postuCont::-webkit-scrollbar {
 	width: 5px;
	height: 5px;
	background-color: #175e4c;    
	left:-50%;
}
.postuCont::-webkit-scrollbar-thumb {
	background: #1ba884;
	//-webkit-border-radius: 0px;
	height:10px;
}
.posturas{
	position:absolute;
	text-align:center;
	background-color:rgba(255, 255, 255, 0.0);
	//width:90%;
	height:60%;	
	//width:450px;
	//height:487px;
	//left:5%;
	z-index:10;	
	font-family:yqsFont;
}
.posturasBG{
	position:absolute;
	text-align:center;
	background-color:#155847;
	//width:90%;
	//height:65%;
	//width:450px;
	//height:487px;
	//left:5%;
	z-index:0;
}
.chatIMG{
	border-radius: 10%;	
	padding-bottom:5%;
}
.triangle1{
   width:20px;
   height:10px;
   border: none;
   //border-style:solid;
   //border-width:10px;
   //border-color: #20a685 transparent transparent transparent;
   //background-color:rgba(0, 0, 0, 0));
   background: url(../img/triang1.png) no-repeat;
   background-size: 100%;
}
.triangle2{
   width:20px;
   height:10px;
   border: none;
   //border-style:solid;
   //border-width:10px;
   //border-color: #dd3975 transparent transparent transparent;
   //background-color:rgba(0, 0, 0, 0));
   background: url(../img/triang2.png) no-repeat;
   background-size: 100%;

}
[class^="chatBG"] {
	padding-bottom:5%;
}
[class^="posNom"] {
	position:absolute;
	color:#fff;
	//background-color:#20a685;
	background-color:rgba(0, 0, 0, 0));
	margin-top:0px;
}
[class^="postu-"] {
	position:absolute;
	text-align:left;
	color:#155847;
	font-size:1.4em;
	overflow:hidden;
	background-color:rgba(0, 0, 0, 0));
	//background-color:#d5d5d5;
}
#right{
	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);	
}
.bMenuH{
	position:absolute;
	width:33px;
	height:29px;
	top:3%;
	left:3%;
	background-color:#1e9577;	
	background-size: 100%;
	//color:#40d9b3;
	color:#fff;
	border: none;
	background: url(../img/tresLineas.png) no-repeat;
	//width:226px;
	//height:74px;
}

.recorrido{
	text-align:center;		
}
.recorrido ul {
	position: relative;
	display: inline-block;
	margin: 0 0 0 0;
	padding-top: 20px;
	//padding-bottom: 2%;
	padding-left: 0;
	height: 7%;
	width:60%;
	list-style: none;	
	
	//cursor: default;
}

.dots {
	/*	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 100%;
	background-color: #000;
	background-color: rgba(100,100,100,0.3);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	//	position: absolute;

	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right:2%;
	margin-left:2%;
	//margin-top:4px;
	//margin-bottom:8px
	//padding-bottom:2px;
	//margin-bottom:2px;

	text-indent: -999em;

	border: 1px solid #155847;
	border-radius: 12px;
	//padding-botton:4px;

	//cursor: pointer;
	//opacity: .4;

	background-color: #0c211f;

	//line-height: normal;
	vertical-align:middle;
}

.pregunta {
	//padding-botton: 1%;
	//padding-botton: 5%;
	//padding-top:1%;
	margin-top:10px;
	text-align: center;


	color: #fff;
	text-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

	background-color: #155847;
	//box-shadow: 0 1px 2px rgba(0,0,0,.25);
	//border:none;
}
.page-header{
	border:none;
	//padding-bottom:2%;
	margin:0;
}
.tPreg{
	padding-top:0px;
	padding-left:15%;
	padding-right:15%;
	margin-top:0;
	margin-bottom:0;
	height:18%;
	overflow:hidden;
	font-size:2.5em;
	font-family:yqsFont;
	color:#bcdad5;
}
.row #encabezado{
	display:block;
	position:relative;
	height:30%;
	padding-top: 0%;
	background-color:#155847;
	color:#FFF;
	//padding-bottom:10%;	
}

[class*="col-"] {
	// padding-top: 15px;
	// padding-bottom: 15px;
	background-color: #155847;
	border: none;
	//border: 1px solid #155847;
	//border: 1px solid rgba(86,61,124,.2);
}
#tarjeta1,#tarjeta2{
	//height:25%;
	padding-top:20%;
	//padding-top:75px;

	//overflow:hidden;
	position:absolute;
	width:50%;
	height:50%;

}
#tarjeta1{
	left:0;
	padding-right:3%;
}
#tarjeta2{
	left:50%;
	padding-left:3%;
}
.voto{
	//color:#FFF;
	width:50%;
	height:50%;
	//border-radius: 1em;	
	border: none;
}

#vSi {
	background-color:#20a685;
	//background: url(../img/si.jpg) no-repeat;
	background-size: 100%;
	overflow:auto;
	border-radius: 10%;
	box-shadow: 5px 5px 3px #174c3e;		
	font-family:yqsFont;
	font-size:4em;
	color:#fff;
}

#vNo {
	background-color:#dd3975;
	//background: url(../img/no.jpg) no-repeat;
	background-size: 100%;
	overflow:auto;
	border-radius: 10%;
	box-shadow: 5px 5px 3px #174c3e;			
	font-family:yqsFont;
	font-size:4em;
	color:#fff;
}
.opciones{
	position:absolute;
	text-align:center;
	vertical-align:middle;
	top:25%;
	left:0%;
	width:100%;
	height:65%;
	z-index:20;
}
.popupBg {
	position:absolute;
	width:543px;
	height:592px;
	//margin-left:35px;		
}
.closeBtn {
	width:50px;
	height:50px;
	position:absolute;
	background: url(../img/closeBtn.png) no-repeat;
	background-size: 100%;
	vertical-align:top;	
	top:5%;
	left:95%;
	//padding-left:3%;
	z-index:21;
	border: none;
}
.op1,.op2{
	position:absolute;
	background-color:#20a685;
	//background: url(../img/si.jpg) no-repeat;	
	overflow:auto;
	width:500px;
	height:15%;
	border-radius: 0.75em;
	box-shadow: 5px 5px 3px #174c3e;
	font-family: yqsFont;
	font-size:2em;
	color:#fff;
	z-index:21;
	text-align:center;
	overflow:hidden;
}
.op3,.op4{
	position:absolute;
	background-color:#dd3975;
	//background: url(../img/no.jpg) no-repeat;	
	overflow:auto;
	width:500px;
	height:15%;
	border-radius: 0.75em;
	box-shadow: 5px 5px 3px #174c3e;
	font-family:yqsFont;
	font-size:2em;
	color:#fff;
	z-index:21;
	text-align:center;
	overflow:hidden;
}
.op1{
	top:30%;
}
.op2{
	top:45%;
}
.op3{
	top:60%;
}
.op4{
	top:75%;
}
#opc span{
      display: inline-block;
      //display: table-cell;
      vertical-align: middle;
      line-height: normal;
      padding-right:5px;
      padding-left:5px;
      //font-size:1.1em;
}
.bOp1,.bOp2,.bOp3,.bOp4{
	border:none;
	background-color:#155847;
}

.bMasO{
	position:absolute;
	background-color:#155847;
	//background: url(../img/opciones.png) no-repeat;
	color:#40d9b3;
	left:15%;
	top:65%;
	//width:500px;
	//height:28px;
	//border-radius: 1em;	
	border: none;	
	font-family:yqsFont;
	text-shadow: 5px 5px 5px black;
	z-index:10;
}

.bSaltear{
	position:absolute;
	background-color:#155847;
	//background: url(../img/opciones.png) no-repeat;
	color:#40d9b3;
	left:65%;
	top:65%;
	//width:500px;
	//height:28px;
	//border-radius: 1em;	
	border: none;	
	font-family:yqsfont;
	text-shadow: 5px 5px 5px black;
	z-index:10;
}

.sobreFrente,.sobreChicos,.sobreFondo{
	position:absolute;
	top:55%;
	width:100%;
	margin:0;
	padding:0;
	text-align: center;
}

.sobreFrente img{
	width:101px;
	height:79px;
}

.sobreChicos img{
	width:93px;
	height:79px;
}

.sobreFondo img{
	width:101px;
	height:129px;	
}

.urna1,.urna2{
	position:absolute;
	top:75%;
	width:100%;
	margin:0;
	padding:0;
	text-align: center;
}

.urna1 img{
	width:163px;
	height:11px;
}

.urna2 img{
	width:163px;
	height:11px;
}

.sobreFondo img{
	width:101px;
	height:129px;	
}



.sigue{
	position:absolute;
	top: 90%;
	text-align:center;
	background-color:#1e9577;	
	background-size: 100%;
	//color:#40d9b3;
	color:#fff;
	border: none;
	//background: url(../img/siguiente.png) no-repeat;
	//width:100%;
	//height:100%;
	width:210px;
	height:60px;
	border-radius: 1.8em;
	box-shadow: 5px 5px 3px #174c3e;
	font-family: yqsFont;
}
.afiT{
	position:absolute;
	top:80%;
	left:2%;
	font-family:yqsFont;
	font-size:2em;
	color:black;
	
}
.afinidad{
	position:absolute;
	top:85%;
	left:0%;
	width:100%;
	height:15%;
	background-color:#16312d;
	display:block;
	text-align:center;
	vertical-align:middle;	
	overflow-x:hidden;
	overflow-y:hidden;
}
.afinidad::-webkit-scrollbar {
 	width: 5px;
	height: 5px;
	background-color: #16312d;    
}
.afinidad::-webkit-scrollbar-thumb {
	background: #777;
	//-webkit-border-radius: 0px;
	height:10px;
}
.afiniImg{
	display:block;
}
#fCand{
	padding-right:5px;
	padding-left:5px;		
}

@media only screen and (max-height:360px){
	#inicio h4{
		font-size:1.2em;
	}
	.bJugar{		
		width:150px;		
		height:40px;
		font-size:0.6em;
	}
	.imgInicio{
		width:172px;
		height:37px;
	}
	.recorrido ul {
		padding-top: 8px;
	}
	.tPreg{
		font-size:1.3em;
		padding-top:5px;
	}
	.pregResu{
		font-size:1.0em;
		padding-top:0%;
	}
	.sobreFrente,.sobreChicos,.sobreFondo{
		top:50%;
	}	
	.sobreFrente img{
		width:50.475px;
		height:39.45px;
	}
	.sobreChicos img{
		width:51.75px;
		height:39.45px;
	}
	.sobreFondo img{
		width:50.475px;
		height:64.5px;	
	}
	.urna1 img,.urna2 img{
		width:100px;
		height:6px;
	}
	.urna1,.urna2{
		top:78%;
	}
	.bMasO,.bSaltear{
		font-size:0.7em;
		top:60%;
	}
	.opciones{
		top:10%;
	}
	.popupBg {
		width:203.25px;
		height:222px;
	}
	.closeBtn {
		width:18.75px;
		height:18.75px;
	}
	.afiT{
		top:73%;
		font-size:1.3em;
	}
	.postuCont{		
		height:75%;
		top:18%;	
	}
	[class^="posNom"] {
		font-size:0.8em;
		padding:0px;
	}
	[class^="postu-"] {
		font-size:0.8em;
	}
	.sigue{
		top:90%;
		width:75px;
		height:25px;
		font-size:0.5em;
	}
}
@media only screen  and (max-width:320px){
	#inicio h4{
		font-size:1.2em;
	}
	.bJugar{
		width:125px;		
		height:40px;
		font-size:0.6em;
	}
	.imgInicio{
		width:172px;
		height:37px;
	}
	.dots{
		width: 10px;
		height: 10px;
		border-radius: 10px;
	}
	.tPreg{
		font-size:1.3em;
		padding-top:5px;
	}
	.pregResu{
		font-size:1.0em;
		padding-top:0%;
	}
	.sobreFrente,.sobreChicos,.sobreFondo{
		top:50%;
	}	
	.sobreFrente img{
		width:50.475px;
		height:39.45px;
	}
	.sobreChicos img{
		width:51.75px;
		height:39.45px;
	}
	.sobreFondo img{
		width:50.475px;
		height:64.5px;	
	}
	.urna1,.urna2{
		top:78%;
	}
	.bMasO,.bSaltear{
		font-size:0.7em;
		top:60%;
	}
	[class^="posNom"] {
		font-size:0.8em;
		padding:0px;
	}
	[class^="postu-"] {
		font-size:0.8em;
	}
}

@media only screen and (min-height:361px){
	.imgInicio{
		width:230px;
		height:50px;
	}
	.recorrido ul {
		padding-top: 13px;
	}
	.tPreg{
		font-size:1.3em;
		padding-top:5px;
	}
	.pregResu{
		font-size:1.5em;
		padding-top:0%;
	}
	.sobreFrente,.sobreChicos,.sobreFondo{
		top:50%;
	}	
	.sobreFrente img{
		width:67.3px;
		height:52.6px;
	}
	.sobreChicos img{
		width:69px;
		height:52.6px;
	}
	.sobreFondo img{
		width:67.3px;
		height:86px;	
	}
	.bMasO,.bSaltear{
		font-size:0.7em;
		top:60%;
	}	
	.popupBg {
		width:271px;
		height:296px;
	}
	.closeBtn {
		width:25px;
		height:25px;
	}
	.afiT{
		top:78%;
		font-size:1.5em;
	}
	.postuCont{
		height:60%;
		top:21%;	
	}
	[class^="posNom"] {
		font-size:0.8em;
		padding:0px;
	}
	[class^="postu-"] {
		font-size:0.8em;
	}
	.sigue{
		top:85%;
		width:210px;
		height:60px;
	}
}

@media screen and (min-width:321px){
	.imgInicio{
		width:230px;
		height:50px;
	}
	.dots{
		width: 12px;
		height: 12px;
		border-radius: 12px;
	}
	.tPreg{
		font-size:1.3em;
		padding-top:5px;
	}
	.pregResu{
		font-size:1.5em;
		padding-top:0%;
	}
	.sobreFrente,.sobreChicos,.sobreFondo{
		top:50%;
	}	
	.sobreFrente img{
		width:50.475px;
		height:39.45px;
	}
	.sobreChicos img{
		width:51.75px;
		height:39.45px;
	}
	.sobreFondo img{
		width:50.475px;
		height:64.5px;	
	}
	.bMasO,.bSaltear{
		font-size:0.7em;
		top:60%;
	}
	.popupBg {
		width:271px;
		height:296px;
	}
	.closeBtn {
		width:25px;
		height:25px;
	}	
	.afiT{
		font-size:1.5em;
	}
	[class^="posNom"] {
		font-size:0.8em;
		padding:0px;
	}
	[class^="postu-"] {
		font-size:0.8em;
	}
	.sigue{
		top:85%;
	}
}
@media only screen and (min-height:481px){
	.tPreg{
		font-size:1.8em;
		padding-top:10px;
	}
	.recorrido ul {
		padding-top: 20px;
	}	
	.dots{
		width: 12px;
		height: 12px;
		border-radius: 12px;
	}
	.pregResu{
		font-size:1.8em;
	}
	.sobreFrente,.sobreChicos,.sobreFondo{
		top:55%;
	}
	.sobreFrente img{
		width:67.3px;
		height:52.6px;
	}
	.sobreChicos img{
		width:69px;
		height:52.6px;
	}
	.sobreFondo img{
		width:67.3px;
		height:86px;	
	}
	.urna1,.urna2{
		top:75%;
	}
	.popupBg {
		width:362px;
		height:394px;
	}
	.closeBtn {
		width:33px;
		height:33px;
	}	
	[class^="posNom"] {
		font-size:1.0em;
		padding:0px;
	}
	[class^="postu-"] {
		font-size:1.0em;
	}
	.afiT{
		top:80%;
	}
}
@media screen and (min-width:481px){
	.tPreg{
		font-size:1.8em;
		padding-top:10px;
	}
	.pregResu{
		font-size:1.8em;
	}
	.bMasO,.bSaltear{
		font-size:0.8em;
	}
	.sobreFrente img{
		width:67.3px;
		height:52.6px;
	}
	.sobreChicos img{
		width:69px;
		height:52.6px;
	}
	.sobreFondo img{
		width:67.3px;
		height:86px;	
	}
	.urna1,.urna2{
		top:75%;
	}
}
@media only screen and (min-height:600px){	
	.pregResu{
		font-size:2.0em;
	}
	.urna1,.urna2{
		top:75%;
	}	
	[class^="posNom"] {
		font-size:1.2em;
		padding:0px;
	}
	[class^="postu-"] {
		font-size:1.2em;
	}
	.afiT{
		top:80%;
	}
}
@media only screen and (min-width:768px){
	body{
		background-color:#dddddd;
	}
	#inicioD{
		//width:30%;
		//height:70%;		
		//width:360px;
		//height:460px;
		padding-top:5%;
		//left:35%;	
		border-radius: 1.8em;
		color:#155847;
		font-family: yqsFont;
	}
	
	#invitaD{
		//width:360px;
		//left:-180px;
		text-align:center;
		display:inline;
		
	}
	#inviDC1{
		border-right: 1px solid black;
		text-align:right;
		background-color:#dddddd;		
	}
	#inviDC2{
		background-color:#dddddd;
		//border-left: 1px solid black;
		text-align:left;
	}
	#inviDC3{
		background-color:#dddddd;
	}
	#sideLeft{
		position:absolute;
		left:15%;
		top:20%;
		text-align:right;
		width:15%;
		color:#155847;
	}
	.menu{
		position:absolute;
		left:0px;
		top:200%;
		text-align:right;
		width:100%;	
	}
	.menu,.menu a{
		color:#155847;
		font-size:0.9em;
		line-height:1px;
	}
	.menu hr{		
		line-height:1px;
		margin-top:10px;
		margin-bottom:10px;
		box-shadow: 0px -1px 1px #ccc;
	}
	.descubriendo{
		font-family: yqsFont;
	}
	.bEmpez{
		background-color:#dd3975;
		background-size: 100%;
		color:#fff;
		border: none;
		width:120px;
		height:30px;
		border-radius: 0.5em;
		box-shadow: 2px 2px 1px #174c3e;
		font-size:0.9em;
		
	}
	#game{
		//width:30%;
		//height:70%;		
		width:360px;
		height:460px;
		top:15%;
		//left:35%;	
		border-radius: 1.8em;
	}

	.container{
		padding-top:600px;
	}

	.imgInicio{
		width:230px;
		height:50px;
	}
	.recorrido ul {
		padding-top: 13px;
	}
	.tPreg{
		font-size:1.8em;
		padding-top:5px;
	}
	.pregResu{
		font-size:1.5em;
		padding-top:0%;
	}
	.sobreFrente,.sobreChicos,.sobreFondo{
		top:50%;
	}	
	.sobreFrente img{
		width:67.3px;
		height:52.6px;
	}
	.sobreChicos img{
		width:69px;
		height:52.6px;
	}
	.sobreFondo img{
		width:67.3px;
		height:86px;	
	}
	.bMasO,.bSaltear{
		font-size:0.7em;
		top:60%;
	}	
	.popupBg {
		width:271px;
		height:296px;
	}
	.closeBtn {
		width:25px;
		height:25px;
	}
	.afiT{
		top:78%;
		font-size:1.5em;
	}
	.postuCont{
		height:60%;
		top:21%;	
	}
	[class^="posNom"] {
		font-size:0.8em;
		padding:0px;
	}
	[class^="postu-"] {
		font-size:0.8em;
	}
	.sigue{
		top:85%;
		width:210px;
		height:60px;
	}
}

//@media only screen and (min-width:481px){
//}
//@media only screen and (min-width:768px){
//}
//@media only screen and (min-width:2000px){
	/* for sumo sized (mac) screens */
//}
//@media only screen and (max-device-width:480px){
	/* styles for mobile browsers smaller than 480px; (iPhone) */
//}
//@media only screen and (device-width:768px){
	/* default iPad screens */
//}
/* different techniques for iPad screening */
//@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	/* For portrait layouts only */
//}
//@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	/* For landscape layouts only */
//}
